.search-container {
    /*height: 80%;
    width: 100%;*/

    
    display: flex;
    flex-direction: stretch;
    justify-content: center;
    align-items: center;
    

    background: #9a8c98;

    font-family: fantasy;
}